/* section hero */
#section-hero{
    background-color: var(--coloreazzurro);
    width: 100%;
    
}
.padding-top-h1{    
    padding-top: 5rem;
}
.hero-flex-box-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-flex-box-1 button{ 
    width: 200px;
}
.downarrow{
    font-size: 2.5rem;
}
.hero-flex-box-2{
    width: 70%;
    position: relative;
}
.section-hero-box{
    gap: 1rem;
    padding-top:2rem;
    margin-bottom: 2rem;
}
.hero-flex-box-2 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;

}
/* section cards */
.cards{
    gap: 3rem;
}
.card{
    flex-basis: 33%;    
}
.check{color: var(--coloreblu);

}
.padding-right{
        padding-right: 5px;
    }
.sezione-card{
    text-align: center;
    border: 1px solid var(--coloregrey);
    padding: 0.5rem;
}
.card-container{
    border: 1px solid var(--coloregrey);
    gap: 1rem;
    padding: 1rem 1.5rem;
    height: 850px;
}
.breakline{
    width: 3rem;
    height: 1px;
    background-color: var(--coloregrey);
}
.card-spacing-large{
    margin:1.5rem 0;
}
.card-spacing-small{
    margin:0.5rem 0;
}
#info-sub *{
    margin:0.5rem 0;
}
.card button {
    margin-left: 14%;
}
/* card orizzontale */
.padding-top-card-4{padding-top: 2rem;}
.card-4{
    padding: 1.5rem 1.5rem;
}
.card-4-container{
    border: 1px solid var(--coloregrey);
}

/* section 2 */
.section-2-spacing{
    gap: 1rem;
}
.partner-img{
    width: 100%;
}
.section-2-img{
    width: 66%;
}
.section-2-text{
width: 33%;
}


/* section 3  */
.slot{
    width:31%;
}
.slot-img{
    width: 100%;
}
#section-3 h2{
    padding-bottom: 2rem;
}

/* section 4 */
#section-4 *{
    padding: 3rem 0;
}

/* section 5 */
.sfondo-designit{
    background-color: var(--coloredesignit);
    border: 10px solid var(--coloredesign-bordo);
    
}
.sfonto-designit-bg{
    background-color: var(--coloredesign-bordo);
}
.sfondo-asu{
    background-color: var(--coloreasu);
}
.sfondo-uf{
    background-color: var(--coloreuf);
}
.sfondo-topps{
    background-color: var(--coloretopps);
}
.sfondo-bicycle{
    background-color: var(--colorebicycle);
}
.sfondo-hearst{
    background-color: var(--colorehearst);
}
.sfondo-planet{
    background-color: var(--coloreplanet);
}
.sfondo-clear{
    background-color: var(--coloreclear);
}
.quadro > div {flex-basis: 50%;
    height: 50%;
}
.quadro img{
    width:50%;
    padding: 1rem;
}
.quadro{
    width: 33%;
}
.quadro > div > div{
    height: 100%
}
.contenitore-section-5{
    height: 33vw;
}
.centratura-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5-box-centrale{
    background-color: var(--coloremiddlebox);
    flex-basis: 33%;
    height: 100%;
}
.section-5-padding{
    padding: 3rem;
}
.section-5-middle-img{
    width: 50%;
}
.text-small{
    font-size: 12px;
}
.contenitore-section-5 img{
    filter: invert(100%) sepia(0%) saturate(1056%) hue-rotate(252deg) brightness(122%) contrast(100%);
}
#img5 img {
    filter: invert(0%) sepia(99%) saturate(12%) hue-rotate(217deg) brightness(98%) contrast(100%);
}
.contenitore-prova-gratuita{
    background-color:rgb(180, 208, 231) ;
}
.contenitore-prova-gratuita h2{
    color: rgb(94, 0, 35);
}
.prova-gratuita-style{
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}
.prova-gratuita-style button{
    padding: 0.5rem 2rem;
    background-color: white;
}











/* section 6 */
.questions-style{
    border: 10px solid var(--coloregrey);
    padding: 1rem;
}
#section-6 hr{
    margin: 3rem 0;
}
hr{
    border: 1px solid var(--coloregrey);
}
#section-6 i{
    padding-right:2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

/* footer */
footer{
    background-color: black;
}
footer .gruppo-footer{color: white;}
footer li{
    list-style: none;
    padding: 0.8rem 0;
}
footer ul{
    padding: 2rem 0;
}
.footer-lists{
    flex-grow: 1;
}
.footer-breakline{
    width: 100px;
    height: 1px;
    background-color: var(--coloregrey);
    margin: 3rem 0;
}
.lingua{
    color: var(--coloregrey);
}