:root {
    --coloreblu: rgb(0, 68, 255);
    --coloreazzurro: rgb(184, 215, 240);
    --coloregrey: rgb(185, 183, 183);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.flex{display: flex;}
.bottone{
    border: none;
    background-color: transparent;
    
}
.bottone-azzurro{
    background-color: var(--coloreblu);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}
.bottone-bianco{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}
.container{
    width: 1000px;
    margin: 0 auto;

}
.container+{
    width: 1150px;
}
h1{
    font-size: 4rem;    
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 1.5rem;
    margin-top:0.5rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 1rem;
    color: var(--coloregrey);
}
.gap3-spacing{
    gap: 3rem;
}
.spaziatura{
    margin:2rem 0;
}
.gap1{
    gap: 1rem;
}
.gap2{
    gap: 2rem;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.padding-section{padding: 5rem 0;}
.justify-between{
    justify-content: space-between;
}