:root {
    --coloreblu: rgb(0, 68, 255);
    --coloreazzurro: rgb(184, 215, 240);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{display: flex;}
.bottone{
    border: none;
    background-color: transparent;
    
}
.bottone-azzurro{
    background-color: var(--coloreblu);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.container+{
    width: 1150px;
}
h1{
    font-size: 4rem;    
}